:root {
  --logo-size: 40vmin;
  --logo-padding: 0.5em;

  --neon-blue: #4f86fc;
  --dark-neon-blue: #646cff;

  --some-interesting-color: #ff6464;

  font-family: 'Fira Code', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 2vmin;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.871);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* margin-top: max(calc(40vh - (0.5 * (var(--logo-size))) - var(--logo-padding)), 0px); */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* hide scrollbars */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  margin-top: 0px;
  font-weight: 600;
  color: var(--dark-neon-blue);
  text-decoration: inherit;
  will-change: color;
  transition: color 200ms;
}

a:hover {
  color: white;
  font-weight: bold;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

::selection {
  background: #1a3879;
  color: white;
}

p {
  font-family: 'Fira Code', Inter, 'Courier New', Courier, monospace, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

.scroll-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  
  position: relative;
  backface-visibility: hidden;
  will-change: overflow;
}

.scroll-item {
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

/* #container { */
/* margin-top: max(calc(50vh - (0.5 * var(--logo-size))), 0px); */
/* text-align: center; */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* } */

.padded {
  padding: 2.0em;
}


.logo {
  height: var(--logo-size);
  padding: var(--logo-padding);
}

.backlit {
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 0.2em #646cffaa);
}

.backlit:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.backlit.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

button {
  border-radius: 8px;
  border: 1px solid rgb(71, 71, 71);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--dark-neon-blue);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.project {
  margin-top: 0.5em;
  width: 20vmin;
  height: 20vmin;
  outline: 2px auto -webkit-focus-ring-color;
  background-position: center;
  background-size: cover;
}

/* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  
    a:hover {
      color: #747bff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  } */